.LEGOminati-heading {
    font-size: 4em;
}
.container {
    margin-top: 3vh !important;
}

.primary-heading {
    font-size: 5em;
}
.secondary-heading {
    font-size: 3em;
}

.about {
    min-height: 80vh;
}
.competition {
    padding: 5vw;
}

.sized-box {
    height: 20px;
}
.spacer {
    height: 50px;
}

.about-carousel img {
    object-fit: contain;
    height: 40vh;
    width: 40vh;
}
.nav-spacing {
    margin-inline: 2.5px;
}

@media only screen and (max-width: 600px) {
    .about {
        min-height: auto;
        /* Ändere die min-height für Mobilgeräte nach Bedarf */
    }
    .secondary-heading {
        font-size: 2em;
    }    
}
@media (max-width: 768px) {
    .mobile-invisible {
        display: none;
    }
    .width100 {
        width: 100%;
        ;
    }
}

.typewriter {
    width: fit-content;
}

.over-type {
    display: flex;
    justify-content: center;
}

.scrollable-content {
    max-height: 60vh;
    overflow-y: auto;
}