@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap');

* {
    font-family: 'Inter';
}

.inter {
    font-family: 'Inter';
}
.inika {
    font-family: 'Inika';
}

.LEGOminati-heading {
    font-size: 4em;
}
.container {
    margin-top: 3vh !important;
}

.primary-heading {
    font-size: 5em;
}
.secondary-heading {
    font-size: 3em;
}

.about {
    min-height: 80vh;
}
.competition {
    padding: 5vw;
}

.sized-box {
    height: 20px;
}
.spacer {
    height: 50px;
}

.about-carousel img {
    object-fit: contain;
    height: 40vh;
    width: 40vh;
}
.nav-spacing {
    margin-inline: 2.5px;
}

@media only screen and (max-width: 600px) {
    .about {
        min-height: auto;
        /* Ändere die min-height für Mobilgeräte nach Bedarf */
    }
    .secondary-heading {
        font-size: 2em;
    }    
}
@media (max-width: 768px) {
    .mobile-invisible {
        display: none;
    }
    .width100 {
        width: 100%;
        ;
    }
}

.typewriter {
    width: fit-content;
}

.over-type {
    display: flex;
    justify-content: center;
}

.scrollable-content {
    max-height: 60vh;
    overflow-y: auto;
}
.mr-10 {
    margin-right: 5px;
}
.bg-warning {
    background-color: #fff857 !important;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-gap: 0px;
    justify-content: center;
    /* Zentriert das Grid horizontal */
    align-items: center;
    /* Zentriert das Grid vertikal */
}

.Teamcard {
    border: none;
    /* Entfernt die Border der Karten */
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Zentriert die Inhalte horizontal */
}

.Teamcard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}