* {
    --sb-size: 11px;
}

*::-webkit-scrollbar {
    width: var(--sb-size);
}

*::-webkit-scrollbar-track {
    background: var(--bs-body-bg);
    border-radius: 16px;
}

*::-webkit-scrollbar-thumb {
    background: var(--bs-primary);
    border-radius: 16px;
    border: 2px solid #232E33;
}

@supports not selector(::-webkit-scrollbar) {
    * {
        scrollbar-color: var(--bs-primary) var(--bs-body-bg);
    }
}