$primary: #308290;
$carousel-dark-indicator-active-bg:  #fff;
$carousel-dark-caption-color:        #fff;

$carousel-dark-control-icon-filter:  invert(0) grayscale(100);
$dropdown-min-width: 0px;

$accordion-button-active-color: #ffc107;
$accordion-button-active-bg: #163c43;

@import '../node_modules/bootstrap/scss/bootstrap';
